@import "tailwindcss";
@plugin "daisyui";


/* Customize only primary + secondary colors */
@plugin "daisyui/theme" {
    name: "black";
    /* must match built-in theme name */
    --color-primary: rgb(29, 155, 240);
    --color-secondary: rgb(24, 24, 24);
}